/* CSS RESET */
*,
*::after,
*::before {
  /* includes the pseudo element */
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  box-sizing: inherit;
  /* will inherit from body style */
}

html {
  font-size: 62.5%;
  /* Default font size (user agent style) is 16 px - use percentage instead to depend on user change default font size in the browser */
}

body {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 3%;
}