.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/nat-4.jpg);
    background-size: cover;
    background-position: top left;
    transform: skewY(-8deg);

    position: relative;
    top: -12.5rem;
    // or alternative
    // margin-top: -10rem

    // normalize .feature-box
    & > * {
        transform: skewY(8deg);
    }

    @include screen(tablet_portrait) {
        padding: 15rem 0;
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -23vh;
}

.section-stories {
    padding: 15rem 0;
    position: relative;
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8),
        rgba($color-primary-light, 0.8)    
    );

    .book {
        // Solid Gradient: gradient with no transition
        background-image: linear-gradient(100deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 50%, transparent 50%), url(../img/nat-10.jpg);
        // background-size: cover;
        // Similar to
        background-size: 100%;

        border-radius: 3px;

        @include shadow-box(rgba($color-black, .5), 2, 3);

        @include screen(tablet_landscape) {
            background-image: linear-gradient(100deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 65%, transparent 65%), url(../img/nat-10.jpg);
            background-size: cover;
        }

        @include screen(tablet_portrait) {
            background-image: linear-gradient(to right, rgba($color-white, .9) 0%, rgba($color-white, .9) 100%), url(../img/nat-10.jpg);
        }

        &__form {
            width: 50%;
            height: 100%;
            padding: 5rem;

            @include screen(tablet_landscape) {
                width: 70%;
            }

            @include screen(tablet_portrait) {
                width: 100%;
            }
        }
    }
}